---
// Props
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const {
  name,
  href,
  class:
    className = "nav-link block py-2 pr-4 pl-3 rounded text-neutral-700 border-b border-neutral-100 hover:bg-neutral-200 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-neutral-400 lg:dark:hover:text-white dark:hover:bg-neutral-400 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-neutral-700",
  ...props
} = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<li>
  <a
    href={href}
    class:list={[
      className,
      {
        "block py-2 pr-4 pl-3 font-bold text-neutral-100 rounded bg-primary-500 lg:bg-transparent lg:text-primary-700 lg:p-0 dark:text-white hover:bg-neutral-300 dark:hover:bg-neutral-500 hover:text-neutral-600":
          isActive,
      },
    ]}
    {...props}
  >
    {name}
  </a>
</li>
